/*Bootstrap Overides*/
body{
background-image: url('tweed.png');
}

#page {
  background-color:#fff;
  width:900px;
  min-height:600px;
  border: 1px solid black;
  margin: auto;
} 

@media (min-width: 992px) {
#page > div:nth-child(1) > div.col-xs-3.col-md-8.well{
  width:100%;
}
#page > div:nth-child(3) > div{
  width:100%;
}
}

h1 {
  text-align:center;
}

#logo > div.col-xs-3.col-md-8.well{
  min-width: 450px;
}

#nav{

  border:1px solid black;
}

#content{
  height: 700px;
}

#left .col-md-4{
  border:1px solid black;
}

#right p {
  padding :5px;
}

#job{
  width:200px;
  height:200px;
}

#page > div:nth-child(3) > div {
  min-width: 450px;
  clear:both;
  height:200px;
  border:1px solid black;
  margin:auto;
}

div.jumbotron
{
  background-image:url('cloud.jpg');
  background-size: 100% 100%;
  color:#000;
  text-align:center;
}

.jumbotron p{
  color: #000;
}

#footer {
  height:75px;
}

#code{
font-style: italic;
color: crimson;
}
