#page {
  width:900px;
  height:900px;
  border: 1px solid black;
  margin: auto;
}

h1 {
  text-align:center;
}

#logo > div.col-xs-3.col-md-8.well{
  min-width:450px;
}

#nav{
  width:900px;
  height:20x;
  border:1px solid black;
}

#content{
  width:900px;
  height: 700px;
}

#left{
  width:200px;
  height: 700px;
  border:1px solid black;
}

#right{
  width:700px;

  float:right;
}

#right p {
  padding :5px;
}

#job{
  width:200px;
  height:200px;
}

#footer {
width:900px;
height:200px;
border:1px solid black;
  margin:auto;
}